body {
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 50px;
  color: white;
}
.gallery img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.gallery {
    display: flex;
    gap: 30px;
}
p {
  color: white;
}
