body {
    background-image: url(Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Parisienne", cursive;
}
h1 {
  font-size: 50px;
  color: white;
}
.gallery img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.gallery {
    display: flex;
    gap: 30px;
}
p {
  color: white;
}
